<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Chat Example</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logOut()">Exit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngFor="let item of listUsers">
      <ion-item *ngIf="item.socketID != connectionSer.db.getItem('userNameIonic')" (click)="selectUser(item)">
        <ion-icon name="person" slot="start" [color]="item.online ? 'success' : 'danger'" size="large"></ion-icon>
        <ion-label>{{ item.userName }}</ion-label>
        <ion-badge color="primary" mode="ios" slot="end" *ngIf="item.new_messages > 0">{{ item.new_messages }}</ion-badge>      
      </ion-item>      
    </ng-container>
  </ion-list>
</ion-content>